{{ define "header" }}

<!-- Post Header -->
<style type="text/css">
    header.intro-header {
        background-image: url('{{ if .Params.image }}{{ .Params.image | relURL }}{{ else }}{{ .Site.Params.header_image | relURL}}{{ end }}')
    }
</style>
{{ if eq .Params.headerstyle "text" }}
<header class="intro-header style-text" >
{{ else }}
<header class="intro-header" >
{{ end }}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ .Title }}</h1>
                    <h2 class="subheading">
                        {{ $page := .Site.GetPage "home/index.md" }}  
                            {{ $page.Params.Subtitle}}</h2>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ define "main" }}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <!-- Post Container -->
            <div class="
            col-lg-8 col-lg-offset-1
            col-md-8 col-md-offset-1
            col-sm-12
            col-xs-12
            post-container">
            {{ $page := .Site.GetPage "home/index.md" }}  
                {{ $page.Content }}

            </div>
            
            {{ partial "sidebar.html" . }}
        </div>
    </div>
</article>

{{ end }}


