
{{ define "main" }}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <!-- Post Container -->
            <div class="
            col-lg-8 col-lg-offset-1
            col-md-8 col-md-offset-1
            col-sm-12
            col-xs-12
            post-container">
            {{ $page := .Site.GetPage "home/home.md" }}  
                {{ $page.Content }}

            </div>
            
            {{ partial "sidebar.html" . }}
        </div>
    </div>
</article>

{{ end }}


