<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .Params.robots }}
    <meta name="robots" content="noindex, nofollow">
    {{ end }}   

    <!-- start ogp -->
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:type" content="article">

    {{ if .Params.thumbnail }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.thumbnail }}">
    <meta property="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.thumbnail }}" />
    {{ else if .Params.image}}
    <meta property="og:image" content="{{ .Params.image }}">
    <meta property="twitter:image" content="{{ .Params.image }}" />
    {{ else }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.header_image }}">
    <meta property="twitter:image" content="{{ .Site.BaseURL }}{{ .Site.Params.header_image }}" />
    {{ end }}

    {{ if .Site.Params.SEOTitle }}
    <meta name="title" content="{{ .Site.Params.SEOTitle }}" />
    <meta property="og:title" content="{{ .Site.Params.SEOTitle }}" />
    <meta property="twitter:title" content="{{ .Site.Params.SEOTitle }}" />
    {{ else }}
    <meta name="title" content="{{ .Site.Params.title }}" />
    <meta property="og:title" content="{{ .Site.Params.title }}" />
    <meta property="twitter:title" content="{{ .Site.Params.title }}" />
    {{ end }}

    {{ if .Params.description }}
    <meta name="description" content="{{ .Params.description }}">
    <meta property="og:description" content="{{ .Params.description }}" />
    <meta property="twitter:description" content="{{ .Params.description }}" />
    {{ else }}
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta property="og:description" content="{{ .Site.Params.description }}" />
    <meta property="twitter:description" content="{{ .Site.Params.description }}" />
    {{ end }}

    {{ if .Params.summary }}
    <meta property="twitter:card" content="{{ .Params.summary }}" />
    {{ else }}
    <meta property="twitter:card" content="summary" />
    {{ end }}
    <!-- end ogp -->

    <meta name="keyword"  content="{{ .Site.Params.keyword }}">
    <link rel="preload" as="image" href="/img/header_image_koeln.webp" fetchpriority="high">
    <link rel="icon" href="{{ "img/favicon.ico" | relURL }}">
    <link rel="shortcut icon" href="{{ "img/favicon.ico" | relURL }}">

    <title>
    {{- if .IsHome -}}
        {{ .Site.Params.SEOTitle }}
    {{- else -}}
        {{- .Title -}}
        {{- if .IsNode -}}
        {{- if gt .Paginator.PageNumber 1 }} (Página {{ .Paginator.PageNumber }}){{ end -}}
        {{- end }} | {{ .Site.Params.SEOTitle -}}
    {{- end -}}
    </title>

    {{ if .IsNode }}
    <link rel="canonical" href="{{ .Paginator.URL | absURL }}">
    {{ else }}
    <link rel="canonical" href="{{ .Permalink }}">
    {{ end }}

    {{ if .Site.Params.disqus_proxy }}
    <link rel="stylesheet" href="{{ "css/iDisqus.min.css" | relURL }}"/>
    {{ end }}
    
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">

    <!-- Clean White theme CSS -->
    <link rel="stylesheet" href="{{ "css/hugo-theme-cleanwhite.css" | relURL }}">

    <!-- zangshang CSS -->
    <link rel="stylesheet" href="{{ "css/zanshang.css" | relURL }}">

    <!--  Custom CSS  -->
    {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}

    <!-- jQuery -->
    <script src="{{ "js/jquery.min.js" | relURL }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "js/bootstrap.min.js" | relURL }}"></script>

    <!-- Hux Theme JavaScript -->
    <script src="{{ "js/hux-blog.min.js" | relURL }}"></script>

    <!-- lazy load image JavaScript -->
    <script src="{{ "js/lazysizes.min.js" | relURL }}"></script>

    <!-- Custom JS -->
    {{ range .Site.Params.custom_js }}
    <script src="{{ . | absURL }}"></script>
    {{ end }}

    <!-- Schema Markup-->
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Article",
            "name": "{{ .Title }}",
            "headline": "{{ .Title }} | {{ .Site.Params.SEOTitle -}}",
            "alternateName": "{{- if .Params.Subtitle }}{{ .Params.Subtitle }}{{- else }}Vivir en Alemania{{- end }}",
            "url": "{{ if .IsNode }}{{ .Paginator.URL | absURL }}{{ else }}{{ .Permalink }}{{ end }}",
            "description": "{{- if .Description }}{{ .Description }}{{- else }}{{ .Site.Params.Description }}{{- end }}",
            "inLanguage": "es-ES",
            "image": "https://vivirenalemania.es/img/header_image_koeln.webp",
            "author": {
                "@type": "Person",
                "name": "Silvia S.",
                "url": "https://vivirenalemania.es/about/"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Vivir en Alemania",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://vivirenalemania.es/img/favicon.ico"
                }
            },
            "email": "info@vivirenalemania.es",
            "datePublished": "{{ .Date }}",
            "dateModified": "{{ .Lastmod }}"
        }
        </script>

</head>

{{ template "_internal/google_analytics.html" . }}

