<!-- post list -->
<div data-pagefind-ignore="all">
{{ range $index, $element := $.Paginator.Pages }}
<div class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title">
            {{ .Title }}
        </h2>
	{{with .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ . }}
        </h3>
	{{ end }}
        <div class="post-content-preview">
	{{ with .Description }}
            {{ . }}
        {{ else }}
            {{ .Summary}}
       {{ end }}
        </div>
    </a>
    <p class="post-meta">
    {{ if .Params.metadata }}
        {{ range $index, $element := .Params.metadata }}
            {{ if .link }}
                <a href="{{ .link }}">{{ .text }}</a>
            {{ else }}
                {{ .text }}
            {{ end }}
        {{ end }}
        {{ else }}
            {{ end }}
            {{ if .Params.lastmod }}
            <br>Última actualización: {{ $month := index .Site.Data.months (printf "%d" (.Params.LastMod.Month)) }}
            {{ .Params.LastMod.Day }} de {{ $month }} de {{ .Params.LastMod.Year }}
            {{ else }}
            <br>Última actualización: {{ partial "spanish-date.html" . }}
            {{ end }}
    </p>

</div>
<hr>
{{ end }}
</div>
