
{{ define "main" }}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <!-- Post Container -->
            <div class="
            col-lg-8 col-lg-offset-1
            col-md-8 col-md-offset-1
            col-sm-12
            col-xs-12
            post-container">
            {{ if eq (.Param "multilingual") true }}
                {{ partial "multilingual-sel.html" . }}
            
                <!-- English Version -->
                <div class="en post-container">
                    {{ .Content }}
                </div>
            {{ else }}
                {{ .Content }}
            {{ end }}
            
            {{ if ne .Params.lastmod .Params.Date}}
            <br>Última actualización: {{ $month := index .Site.Data.months (printf "%d" (.Params.LastMod.Month)) }}
            {{ .Params.LastMod.Day }} de {{ $month }} de {{ .Params.LastMod.Year }}
            {{ end }}
            <br>Fecha de publicación: {{ partial "spanish-date.html" . }}
             
            {{ partial "comments.html" . }}
            
            </div>
            
            {{ partial "sidebar.html" . }}
        </div>
    </div>
</article>

{{ end }}


